<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />

		<add name="FoodManagerDb"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="server=mysql.pb.bib.de;uid=pbt3h24afa;pwd=uYf6tZKfZx3z;database=pbt3h24afa_SmartPantry" />

	</connectionStrings>
</configuration>